# ignore python virtual environments
.venv/
.workDebVenv/
.macDebVenv/

# ignore compiled library and similar
*.so
*.c
**/__pycache__/
build/
geovox.egg-info/

# ignore .vtk files from examples
*.vtk

# ignore test files for deletion
*.deleteme

# ignore output of test cases
tests/outfiles/*